{% extends 'base.html' %}
{% load static %}

{% block title %} 
Home 
{% endblock %}

{% block body %} 

	<div id="topContainer">
		<h1>I'm Alex.</h1>
		<h3>a web designer.</h3>
		<img src="{% static 'my_app/img/training-2.png' %} " alt="mountain">
	</div>
	<div id="middleContainer">
		<div id="profile">
			<img class="me" src="{% static 'my_app/img/image4.png' %}">
			<h2>Hello.</h2>
			<p class="intro">
				I'm a web designer/developer based in Lagos, Nigeria. My passion for web designing is second to none.
			</p>
		</div>
		<hr>
		<div id="skills.">
			<h2>My Skills.</h2>
			<div class="skillRow">
				<img class="picture4" src="{% static 'my_app/img/image4.png' %}" alt="">
				<h3>Front End Development</h3>
				<p>
					Advance knowledge of HTML, CSS, Javascript and DOM Manipulation (jquery); Version Control (GIT), Functional Programming, Browser Developer Tools, Responsive Web Designing, Command Line and Code Testing/Debugging.
				</p>		
			</div>
			<div class="skillRow">
				<img class="picture5" src="{% static 'my_app/img/image4.png' %}" alt="">
				<h3>Back End Development</h3>
				<p>
					Good knowledge of Python Programming Language, Javascript, Databases and SQL, GIT.
				</p>
			</div>
		</div>
		<hr>
		<div id="contactMe">
			<h2>Get in touch.</h2>
			<h3>Love to keep it simple?...</h3>
			<p class="contactMessage">
				Designed just the way you Love it... simple, while conveying your message!... click button bellow!
			</p>
			<a class="myButton" href="mailto:alex.okpere@gmail.com">CONTACT ME</a>
		</div>
	</div>

{% endblock %}




